# Xcode
.DS_Store
build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
project.xcworkspace/
xcuserdata/
*.moved-aside
DerivedData
*.hmap
*.ipa

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# IDE
.vscode/
.idea/

# macOS
.Trash

# CLI specific
*.log

